.backButton { margin-bottom: 1rem; }

.product {
  padding-bottom: 3rem;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-dark);
  overflow: hidden;

  &__header {
    padding: 3rem;
    background: #444A54;
    color: #C3F103;
    text-align: center;
    font-size: 6rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
}

.name { font-size: 2rem; }

.price {
  font-size: 3rem;
  color: var(--color-primary)
}

.description { font-size: 1.2rem; }
