.navigation {
  display: flex;
  width: 100%;
  padding: 0.5rem 1rem;
  background: var(--color-primary);
  list-style: none;

  &__item {
    display: block;
    padding: 1rem;
    font-size: 1.4rem;
    color: var(--color-text-white-opacity);
    text-decoration: none;
  }

  &__item:hover,
  &__item--active {
    color: var(--color-text-white);
  }
}
